.TodoElement {
    display: flex;
    align-items: center;
    height: 64px;
    background-color: transparent;
    border-bottom: 1px solid lightgray;
    list-style: none;

    p.active {
        color: black;
    }

    p.completed {
        color: lightgrey;
        text-decoration: line-through;
    }
}
