.ListFooter {
    display: flex;
    align-items: center;
    flex: 0 0 50px;
    padding: 0 24px;
    border-top: 1px solid lightgrey;
    border-radius: 0 0 6px 6px;
    list-style: none;
    font-size: 14px;
    background-color: white;
    color: lightgrey;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.2);

    & :nth-child(2) {
        flex: 1;
        text-align: center;
    }

    & > button {
        height: 21px;
        background-color: white;
        border: none;
        color: darkgrey;
    }
}
