.TextBox {
    display: flex;
    align-items: center;
    flex: 0 0 64px;
    margin-top: 35px;
    background-color: #fff;
    border-radius: 6px;

    & [type="text"] {
        height: 40px;
        margin-right: 24px;
        width: 100%;
        border-radius: 6px;
        border: none;
        font-size: 18px;
    }
}
