.TextBox {
    display: flex;
    align-items: center;
    height: 64px;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 6px;

    & [type="text"] {
        width: 100%;
        border-radius: 6px;
        border: none;
        font-size: 18px;
    }
}
