@import "@assets/styles/themify";

$desktopWidth: 1440px;
$desktopHeight: 800px;
$mobileWidth: 365px;
$mobileHeight: 765px;

.App {
    width: $desktopWidth;
    height: $desktopHeight;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.dark {
    background-color: getThemedValue(dark, App, bg-color);
    background-image: getThemedValue(dark, App, bg-image);
    background-repeat: no-repeat;
}

.light {
    background-color: getThemedValue(light, App, bg-color);
    background-image: getThemedValue(light, App, bg-image);
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    .light {
        background: none;
    }
}
