@import "@assets/styles/themify";

%checkboxBase {
    position: absolute;
    left: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.Checkbox {
    position: relative;
    width: 72px;

    [type="checkbox"] {
        @extend %checkboxBase;
        -webkit-appearance: none;
        appearance: none;
        z-index: 1;

        &:checked + span::after {
            @extend %checkboxBase;
            content: "";
            left: 24px;
            background: url("../../assets/icons/icon-check.svg") 7px 7px no-repeat,
                linear-gradient(to bottom right, hsl(208, 99%, 71%), hsl(270, 100%, 74%));
        }
    }

    span {
        display: block;
        height: 24px;
        position: relative;

        &::before {
            @extend %checkboxBase;
            content: "";
            left: 24px;
        }
    }
}

.light {
    span::before {
        border: 1px solid getThemedValue(light, Checkbox, border-color);
    }

    [type="checkbox"]:not(:disabled):hover + span::before {
        border-color: getThemedValue(light, Checkbox, border-color-hover);
    }
}

.dark {
    span::before {
        border: 1px solid getThemedValue(dark, Checkbox, border-color);
    }

    [type="checkbox"]:not(:disabled):hover + span::before {
        border-color: getThemedValue(dark, Checkbox, border-color-hover);
    }
}
