@import "@assets/styles/themify";

.TodoFilter {
    margin-top: 16px;
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-size: 14px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.2);
}

.light {
    background-color: getThemedValue(light, TodoFilter, bg-color);
    color: getThemedValue(light, TodoFilter, text-color);
}

.dark {
    background-color: getThemedValue(dark, TodoFilter, bg-color);
    color: getThemedValue(dark, TodoFilter, text-color);
}
