:root {
    font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    box-sizing: border-box;
}

* {
    margin: 0;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    font-family: inherit;
}
