:root {
    font: 400 18px / 1.5 "Josefin Sans", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

* {
    margin: 0;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    font-family: inherit;
}
