$veryLightGray: hsl(0, 0%, 98%);
$veryLightGrayishBlue: hsl(236, 33%, 92%);
$lightGrayishBlue: hsl(233, 11%, 84%);
$darkGrayishBlue: hsl(236, 9%, 61%);
$veryDarkGrayishBlue: hsl(235, 19%, 35%);

$theme: (
    App: (bg-image: url('@assets/images/bg-desktop-light.jpg'),
        bg-color: $veryLightGray ),
    Checkbox: (border-color: $lightGrayishBlue),
    TodoElement: (text-active: $veryDarkGrayishBlue, text-completed: $lightGrayishBlue, separator: $lightGrayishBlue)
);
